<?php
// module/Album/view/album/album/index.phtml:
$title = 'JS datatable';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<div class="form-group">
<button type="button" id="newForm" class="btn btn-default">Add new</button>
</div>
<table id="example" class="display dataTable table table-striped" width="100%" cellspacing="0">
<thead>
            <tr>

                 <th>Name</th>
                 <th>Phone</th>
                 <th>Email</th>
                 <th>Message</th>
                <th>Time</th>
                <th>&nbsp;</th>
            </tr>
</thead>
<tfoot>
            <tr>
               <th>Name</th>
                 <th>Phone</th>
                 <th>Email</th>
                 <th>Message</th>
                <th>Time</th>
                <th>&nbsp;</th>
            </tr>
</tfoot>
<tbody>

<?php foreach ($albums as $album) : ?>
        <tr id="<?= $this->escapeHtml($album->id) ?>">
        <td><?= $this->escapeHtml($album->name) ?></td>
        <td><?= $this->escapeHtml($album->phone) ?></td>
        <td><?= $this->escapeHtml($album->email) ?></td>
        <td><?= $this->escapeHtml($album->message) ?></td>
        <td><?= $this->escapeHtml($album->time) ?></td>
        <td>
        <button type="button" id="editForm" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" id="delForm" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
<?php endforeach; ?>
</tbody>
</table>
<script type="text/javascript">

general = new Object();

general.jsonUrl = '';
general.jsonType = '';
general.jsonData = '';
general.status = '';


general.addLabel = 'Add new';
general.addButton = 'Add new';
general.addUrl = 'add';
general.addType = 'post';

general.editLabel = 'Change some';
general.editButton = 'Confirm change';
general.editUrl = 'edit';
general.editType = 'post';

general.delLabel = 'Delete some';
general.delNotification = 'Will be deleted: ';
general.delButton = 'Delete';
general.delUrl = 'delete';
general.delType = 'post';
general.delSpecialData =  '&del=Yes',

    $(document).ready(function() {
    var table =  $('#example').DataTable();

$('#modalButton').on( 'click', function () {    



    validateEmail($('#inputEmail').val());
    validateName($('#inputName').val());
    validateTel($('#inputPhone').val());
    validateMessage($('#inputPhone').val());

if( general.jsonUrl.substr(0,3) =="del" || general.statusEmail && general.statusTel && general.statusName && general.statusMessage ){

jQuery.ajax({
    url: general.jsonUrl,
    type: general.jsonType,
    dataType: 'json',
    data:  $("#modalForm").serialize()+general.jsonData,
    success: function(data){},
    error:function(){}
});

        switch (general.jsonUrl.substr(0,3)) {
          case 'del':
            $('#example').dataTable().fnDeleteRow( table.$('#'+$('#inputId').val())[0] );
            break;
          case 'add':
           var d = new Date();
            var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

           $('#example').dataTable().fnAddData( [ $('#inputName').val(),
             $('#inputPhone').val(),
             $('#inputEmail').val(),
             $('#inputMessage').val(), 
            time, "Added"] );
            break;
          case 'edi':
            $('#example').dataTable().fnUpdate( $('#inputName').val(), $('#'+parseInt($('#inputId').val())), 0);
            $('#example').dataTable().fnUpdate( $('#inputPhone').val(),  $('#'+parseInt($('#inputId').val())), 1);
            $('#example').dataTable().fnUpdate( $('#inputEmail').val(),  $('#'+parseInt($('#inputId').val())), 2);
            $('#example').dataTable().fnUpdate( $('#inputMessage').val(),  $('#'+parseInt($('#inputId').val())), 3);
            var d = new Date();
            var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
            //$('#example').dataTable().fnUpdate( time,  $('#'+parseInt($('#inputId').val())), 4);
        }
        general.jsonUrl = '';
        general.jsonType = '';
        general.jsonData = '';

        $('#modal').modal('toggle');
        $('#modalForm').trigger("reset");
}
} );

$('#newForm').on( 'click', function () { 
    $('#modalForm').trigger("reset");
    $('#modalLabel').text(general.addLabel); 
    $('#modalButton').text(general.addButton); 
    $('#modalForm').css('display', 'block');
    $('#modalNotification').css('display', 'none');
    general.jsonUrl = general.addUrl;
    general.jsonType = general.addType;
    $('#modal').modal('show');
});

$('#inputEmail').on('input', function() { 
validateEmail($('#inputEmail').val());
});

$('#inputName').on('input', function() { 
validateName($('#inputName').val());
});

$('#inputPhone').on('input', function() { 
 validateTel($('#inputPhone').val());
});

$('#inputPhone').on('input', function() { 
 validateMessage($('#inputPhone').val());
});

  function validateEmail(email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  console.log( emailReg.test( email ));
if(emailReg.test( email )){
    general.statusEmail = true;
    $("#inputEmailCheck").addClass("has-warning");
    $("#inputEmailCheck").removeClass("has-error");
} else {
        general.statusEmail = false;
   $("#inputEmailCheck").removeClass("has-warning");
    $("#inputEmailCheck").addClass("has-error");
}
}

  function validateTel(tel) {
  var TelReg = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
  console.log( TelReg.test( tel ));
if(TelReg.test( tel )){
     general.statusTel = true;
    $("#inputPhoneCheck").addClass("has-warning");
    $("#inputPhoneCheck").removeClass("has-error");
} else {
  general.statusTel = false;
   $("#inputPhoneCheck").removeClass("has-warning");
    $("#inputPhoneCheck").addClass("has-error");
}
}

  function validateName(name) {

 console.log( name.length >= 3);
if(name.length >= 3 ){
     general.statusName = true;
    $("#inputNameCheck").addClass("has-warning");
    $("#inputNameCheck").removeClass("has-error");
} else {
     general.statusName = false;
   $("#inputNameCheck").removeClass("has-warning");
    $("#inputNameCheck").addClass("has-error");
}
}

  function validateMessage(message) {
 console.log( message.length >= 3);
if(message.length <= 200 ){
    general.statusMessage = true;
    $("#inputMessageCheck").addClass("has-warning");
    $("#inputMessageCheck").removeClass("has-error");
} else {
     general.statusMessage =false;
   $("#inputMessageCheck").removeClass("has-warning");
    $("#inputMessageCheck").addClass("has-error");
}
}
    $('#example tbody').on( 'click', '#editForm', function () {
    $('#modalForm').trigger("reset");
    $('#inputName').val(table.row( $(this).parents('tr') ).data()[0]);
    $('#inputPhone').val(table.row( $(this).parents('tr') ).data()[1]);
    $('#inputEmail').val(table.row( $(this).parents('tr') ).data()[2]);
    $('#inputMessage').val(table.row( $(this).parents('tr') ).data()[3]);

    $('#inputId').val(table.row( $(this).parents('tr') ).id());
    $('#modalLabel').text(general.editLabel); 
    $('#modalButton').text(general.editButton); 
    $('#modalForm').css('display', 'block');
    $('#modalNotification').css('display', 'none');

    general.jsonUrl = general.editUrl+"/"+table.row( $(this).parents('tr') ).id();
    general.jsonType = general.editType;
    $('#modal').modal('show');
});

$('#example tbody').on( 'click', '#delForm', function () {
    $('#modalForm').trigger("reset");
    $('#inputId').val(table.row( $(this).parents('tr') ).id());
    $('#modalLabel').text(general.delLabel); 
    $('#modalButton').text(general.delButton);
    var totalNotif = general.delNotification +"<br>";
    totalNotif += table.row( $(this).parents('tr') ).data()[1]+"<br>";
    totalNotif += table.row( $(this).parents('tr') ).data()[0];
    $('#modalNotification').html(totalNotif);
    $('#modalForm').css('display', 'none');
    $('#modalNotification').css('display', 'block');
    general.jsonUrl = general.delUrl+"/"+table.row( $(this).parents('tr') ).id();
    general.jsonType = general.delType;
    general.jsonData = general.delSpecialData;
    $('#modal').modal('show');
});

} );
     
</script>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Add some</h4>
      </div>
      <div class="modal-body">

      <form role="form" id="modalForm">

      <div class="form-group has-feedback"  id="inputNameCheck">
        <label for="inputName">Name</label>
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name">
      </div>
      
      <div class="form-group has-feedback"  id="inputPhoneCheck">
        <label for="inputPhone">Phone</label>
        <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="Enter phone">
      </div>

      <div class="form-group has-feedback"  id="inputEmailCheck">
        <label for="inputEmail">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email">
      </div>

    <div class="form-group has-feedback"  id="inputMessageCheck">
        <label for="inputMessage">Message</label>
        <input type="text" name="message" class="form-control" id="inputMessage" placeholder="Enter  message">
      </div>

    <input type="hidden"  name="id" id="inputId">
    </form>

    <h4 class="bg-info" style="padding: 10px" id="modalNotification">Info</h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  id="modalButton">Save</button>
      </div>
    </div>
  </div>
</div>