<?php
// module/Album/view/album/album/index.phtml:

$title = 'My albums';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('album', ['action' => 'add']) ?>">Add new</a>
</p>

<table class="table">
<tr>
 
    <th>message</th>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
    <th>time</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($albums as $album) : ?>
    <tr>

        <td><?= $this->escapeHtml($album->message) ?></td>
        <td><?= $this->escapeHtml($album->name) ?></td>
        <td><?= $this->escapeHtml($album->email) ?></td>
        <td><?= $this->escapeHtml($album->phone) ?></td>
        <td><?= $this->escapeHtml($album->time) ?></td>
        <td>
            <a href="<?= $this->url('album', ['action' => 'edit', 'id' => $album->id]) ?>">Edit</a>
            <a href="<?= $this->url('album', ['action' => 'delete', 'id' => $album->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>